<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Estamos en el home </p>
    <img src="C:\Users\panda\Desktop\TrabajoExpress\DH-Heroes\public\img\Huracan.jpg" alt="equipo" width = "300" >
    <img src="img/Huracan.jpg" alt="equipo">
      <img src="../imagenes/Huracan.jpg" alt="equipo">
</body>
</html>